/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('@fortawesome/fontawesome-svg-core/styles.css');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .flex-items {
    @apply flex items-center justify-center gap-3
  }

  .flex-items-2 {
    @apply flex items-center justify-center
  }

  .justify-items {
    @apply flex items-center justify-between
  }

  .flex-items-col {
    @apply flex items-center justify-center flex-col
  }

  .hover-header {
    @apply hover:bg-gray-300 px-2 py-2 cursor-pointer rounded-3xl text-[16px]
  }

  .tooltip {
    @apply absolute left-full ml-3 top-1/2 -translate-y-1/2 z-10 invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-opacity duration-300 px-3 py-2 text-sm font-medium text-white bg-gray-950 rounded-lg shadow-md dark:bg-gray-950 w-max
  }

  .tooltip-point {
    @apply absolute left-0 top-1/2 -translate-y-1/2 -ml-2 w-0 h-0 border-y-8 border-y-transparent border-r-8 border-r-gray-900 dark:border-r-gray-950
  }

  .dashboard-active {
    @apply flex items-center gap-3 text-gray-800 p-2 rounded-md hover:bg-gray-200 transition h-10
  }

  .gray-border {
    @apply border border-gray-300 rounded-[10] hover:shadow-2xl duration-300 ease-in
  }

  .container-border {
    @apply border border-gray-300 rounded shadow
  }

  .form-input {
    @apply border border-gray-400 h-10 w-full rounded mt-2 px-4 text-[14px] font-semibold focus:border-green-500 outline-none focus:outline-none focus:ring-1 focus:ring-green-500 hover:border-green-500
  }

  .topic-formInput {
    @apply border border-gray-400 hover:border-green-400 focus:border-green-500 focus:outline-green-500 w-full rounded mt-2 px-4 text-[14px];
  }

  .custom-scrollbar {
    @apply overflow-y-auto; /* your scroll behavior */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-green-200) white; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-green-200);
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-button,
  .custom-scrollbar::-webkit-scrollbar-button:single-button,
  .custom-scrollbar::-webkit-scrollbar-button:start,
  .custom-scrollbar::-webkit-scrollbar-button:end,
  .custom-scrollbar::-webkit-scrollbar-button:vertical:decrement,
  .custom-scrollbar::-webkit-scrollbar-button:vertical:increment,
  .custom-scrollbar::-webkit-scrollbar-button:horizontal:decrement,
  .custom-scrollbar::-webkit-scrollbar-button:horizontal:increment {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: 0 !important;
  }

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-google: "Google Sans Code";
  --font-sansation: "Sansation";
  --font-poppins: "Poppins";
  --font-kode: "Kode Mono"
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  /* scrollbar-width: none; */
  overflow: clip;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Kode Mono", sans-serif; */
  background-color: white;
  /* text-shadow: none; */
  scrollbar-color: var(--color-green-200) var(--color-white);
}

header {
  background-color: #E7E6ED;

}

h1 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

summary {
  list-style: none;
}

textarea {
  scrollbar-width: none !important;
}

.drop {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  /* transform: rotate(90deg); */
  opacity: 0.8;
  cursor: pointer;
}

details[open] .drop {
  transform: rotate(-180deg);
  opacity: 1;
  animation-duration: 1s;
}


/* hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

/* show thin scrollbar */
.scrollbar-show {
  -ms-overflow-style: auto;
  scrollbar-width: thin;
  /* Firefox */
}

.scrollbar-show::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}

/* show scrollbar on hover */
.scrollbar-hover:hover {
  -ms-overflow-style: auto;
  scrollbar-width: thin;
  /* Firefox */
}

.scrollbar-hover:hover::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 9999px;
}

.scrollbar-color {
  scrollbar-color: rgb(172, 210, 172) rgb(255, 255, 255);
}

.scrollbar-color-2 {
  scrollbar-color: var(--color-green-200) var(--color-gray-200);
  /* scrollbar-width: 5px; */
}

.edit-form {
  backdrop-filter: blur(7px) saturate(184%);
  -webkit-backdrop-filter: blur(7px) saturate(184%);
  background-color: rgba(17, 25, 40, 0.66);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.ai-head {
  border-bottom: solid 1px #e8e2e2df;
}

.shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadow-5 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-6 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-8 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.shadow-9 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadow-11 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.shadow-12 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shadow-19 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shadow-53 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.shadow-59 {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.shadow-64 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.shadow-top {
  box-shadow: 0 -5px 5px -5px rgba(159, 159, 159, 0.672);
}

.shadow-right {
  box-shadow: 4px 0px 6px -1px rgba(0, 0, 0, 0.1), 2px 0px 4px -2px rgba(0, 0, 0, 0.06);
}



/* Modal fade-in background */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-fade {
  animation: fadeIn 0.3s ease-in-out forwards;
}

/* Modal content slide-up */
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-slide-up {
  animation: slideUp 0.3s ease-in-out forwards;
}



/* React Date Picker Css */
.react-datepicker-wrapper {
  width: 228px;
  font-size: 14px;
}

.react-datepicker__input-container input {
  padding: 0 15px;
  width: 100% !important;
}

.react-datepicker {
  border: none !important;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.react-datepicker__triangle {
  margin-left: 90px !important;
  /* control position */
  color: white !important;
  fill: white !important;
  stroke: #aeaeae52 !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-datepicker__header h2 {
  padding: 10px 0 !important;
}

.react-datepicker__navigation {
  top: 12px !important;
}

.react-datepicker__header .react-datepicker__day-name:first-child,
.react-datepicker__day-name:last-child {
  color: red;
}

.react-datepicker__day--in-range,
.react-datepicker__day--selected {
  background-color: var(--color-green-400) !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: var(--color-green-100) !important;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: var(--color-green-500) !important;
}

.react-datepicker__day--outside-month {
  color: var(--color-gray-300) !important;
}

.react-datepicker__navigation:hover *::before {
  border-color: var(--color-green-500) !important;
}

.selectDay {
  border-bottom: solid 1px var(--color-gray-300);
}

/* React date picker 2 */
.custom-datepicker-wrapper {
  width: 100%;
  margin-top: 10px;
}

.custom-datepicker-wrapper .react-datepicker__input-container input {
  border-left: 2px solid var(--color-green-500);
}

.holiday-calendar {
  border-radius: 5px !important;
}

.recharts-wrapper svg {
  outline: none;
}

.recharts-pie-sector path {
  outline: none;
}

/* .recharts-tooltip-wrapper-right{
  transform: translate(210.5px, 240.5px) !important;
} */


.add-suggest:hover {
  background-image: url('/Settings/Add 1.png');
}


/* PROFILE FORM */
.css-1u9des2-indicatorSeparator {
  height: 100%;
  margin-top: 0 !important;
}


/* th{
  border-right: solid 2px var(--color-gray-400);
  padding-left: 10px;
  border-bottom: solid 1px var(--color-gray-400);
} */
/* th:last-child{
  border-right: none;
} */
.td {
  border-bottom: solid 1px var(--color-gray-400);
  padding: 5px 10px 5px 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* Settings Edit page's delete pop up animation */
@keyframes popupIn {
  0% {
    transform: translateY(200px) scaleX(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scaleX(1);
    opacity: 1;
  }
}

@keyframes popupOut {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 1;
  }

  100% {
    transform: translateY(200px) scaleX(0);
    opacity: 0;
  }
}

.popup-in {
  animation: popupIn 0.2s ease-out forwards;
}

.popup-out {
  animation: popupOut 0.2s ease-in forwards;
}


/*  */
.ce-block {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.ce-toolbar__actions {
  z-index: 50;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  /* display: flex;
  align-items: center; */
  width: 100%;
}

.ce-toolbar__content {
  margin: 0;
  position: relative;
  z-index: 500;
}

.ce-block__content {
  margin-left: 60px;
  max-width: 80%;
}

.ce-toolbar__actions {
  left: 0;
}

.ce-popover__items {
  scrollbar-color: var(--color-green-200) var(--color-white);
}

/* Make each header visually distinct for EDITOR.JS */
h1.ce-header {
  font-size: 2.25rem;
  font-weight: 700;
}

h2.ce-header {
  font-size: 1.75rem;
  font-weight: 600;
}

h3.ce-header {
  font-size: 1.50rem;
  font-weight: 600;
}

h4.ce-header {
  font-size: 1.25rem;
  font-weight: 600;
}

h5.ce-header {
  font-size: 1.10rem;
  font-weight: 600;
}

h6.ce-header {
  font-size: 1rem;
  font-weight: 600;
}


/* Chat ui animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.4s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.4s ease-in-out forwards;
}

/* Chat ui animation */
@keyframes slideInX {
  from {
    transform: translateX(100%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}

@keyframes slideOutX {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-X {
  animation: slideInX 0.4s ease-in-out forwards;
}

.slide-out-X {
  animation: slideOutX 0.4s ease-in-out forwards;
}

@keyframes slideInY {
  from {
    transform: translateY(100%) scaleY(0.8);
    opacity: 0;
  } to {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

@keyframes slideOutY {
  from {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  } to {
    transform: translateY(100%) scaleY(0.8);
    opacity: 0;
  }
}

.slide-in-y {
  animation: slideInY 0.4s ease-in-out forwards;
}
.slide-out-y {
  animation: slideOutY 0.4s ease-in-out forwards;
}

/* Chat AI Animation */

.dropdown {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.group:hover .dropdown {
  opacity: 1;
  transform: scaleY(1);
}


/* CHECK BOX ANIMATION */
@layer components {
  /* hide the native checkbox */
  .checkbox-wrapper-46 .inp-cbx {
    @apply hidden;
  }

  /* hover effect for box border */
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    @apply border-[#506EEC];
  }

  /* checked state */
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    @apply bg-green-600 border-[#506EEC];
    animation: wave-46 0.4s ease;
  }

  /* checkmark animation */
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dasharray: 16px;
    stroke-dashoffset: 0;
    @apply transition-all duration-300;
  }

  /* ripple effect */
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-green-500);
    display: block;
    transform: scale(3.5);
    opacity: 0;
    border-radius: 50%;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
}


/* PULSE EFFECT */
.pulseBtn {
background: white;
/* color:#fff; */
border:1px solid var(--color-gray-400);
/* padding:1rem 2rem; */
/* border-radius:2rem; */
font-size:1rem;
box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
-moz-animation: pulse 2s infinite;
-webkit-animation: pulse 2s infinite;
animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-green-300);
    }
    70% {
        box-shadow: 0 0 0 10px var(--color-green-200);
    }
    100% {
        box-shadow: 0 0 0 50px var(--color-green-100);
    }
}


/* TEXT SHINE ANIMATION */
.shine-Text {
  background: linear-gradient(to right, #666363 0, white 10%, #666363 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 3s linear infinite;
}

@keyframes  animate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 470px;
  }
  100% {
    background-position: 470px;
  }
}


